<div class="carousel-wrapper" appCarouselHandler (handleAutoplay)="onHandleAutoplay($event)">
  <carousel-slide
       *ngFor="let img of loadedImages; let i = index"
       [src]="img"
       [slideNo]="i"
       [isHidden]="i !== 0">
  </carousel-slide>

  <carousel-pins
    *ngIf="galleryLength > 1"
    [images]="loadedImages"
    [currentSlide]="currentSlide"
    (changeSlide)="onChangeSlideIndex($event);">
  </carousel-pins>

  <carousel-arrows
    *ngIf="galleryLength > 1"
    (changeSlide)="onChangeSlide($event);"></carousel-arrows>
</div>
