<div class="carousel-wrapper" appCarouselHandler>
  <!-- slides-component? -->
  <img class="slide"
       *ngFor="let img of loadedImages; let i = index"
       [src]="img"
       [attr.data-slide]="i"
       [class.slide--hidden-initial]="i !== 0">

  <carousel-arrows
    (changeSlide)="onChangeSlide($event);
    stopAutoplay();">
  </carousel-arrows>

  <carousel-pins
    [images]="loadedImages"
    [currentSlide]="currentSlide"
    (changeSlide)="onChangeSlideIndex($event);
    stopAutoplay();">
  </carousel-pins>
</div>
